<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <%= link_to "Back to teams", teams_path %>

  <%= button_to "Destroy this team", @team, method: :delete %>
</div>
<br>

<%= form_with(url: add_members_team_path)  do |form| %>
  <%= form.select(:member_ids, Member.all.collect {|m| [ m.first_name, m.id ] }, 
                  {}, 
                  { :multiple => true, class: 'select2', placeholder: 'Add members'}) %>

  <%= form.submit %>
<% end  %>

<br>
<br>
<h3>Team Members</h3>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td</td>
    </tr>
  </thead>
  <tbody>
    <% @team.members.each do |member| %>
      <tr>
        <td><%= member.full_name %></td>
        <td><%= link_to 'remove', remove_member_team_path(@team, member), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
